.header {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr ;
    
    justify-content: space-between;
    background-color: rgb(218, 253, 240);
    height: 150px;
    border-bottom-color:   rgb(179, 247, 234);
    border-bottom-style: solid;
    border-bottom-width: 10px ;
    left: 200px;
    right: 200;
    top: 0; 
   
}

.content-wrapper {
    height: 500px;
    border-bottom-color:   rgb(42, 168, 137);
    border-bottom-style: solid;
    border-bottom-width: 4px ;
    
}

.logotip {
    height: 120px;
    margin-left: 100px;
    margin-top: 15px;
    border-radius: 20px;

}

.facefook,
.instagram {
    height: 80px;
    margin-top: 40px;

}



body {
    padding-top: 80px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: rgb(247, 240, 240)
    padding-bottom: 1000px;
    font-family: Roboto, Arial;
    letter-spacing: 0.3em;
    line-height: 1.55em;
}

main {
    padding-top: 80px;
    padding-left: 300px;
    padding-right: 300px;
    background-color:rgb(218, 253, 240);
    padding-bottom: 150px;
    font-family: Roboto, Arial;
    border-bottom-color:   rgb(42, 168, 137);
    border-bottom-style: solid;
    border-bottom-width: 4px ;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 1em;
    
}
.name {
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 0,07em;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 100px;
    color: blue;
}
.profession {
    font-size: 60px;
    margin-bottom: 21px;
    font-weight: 500

}

.contacts-information {
    margin-top: 40px;
     line-height: em;
}

h3 {
    font-size: 40px;
    line-height: 3.5em;
}

p,ul {
    letter-spacing: 0.2em;
    
    margin: 0;
    font-size: 35px;
    line-height: 2.5em;

}
a {
    color: black;
    text-decoration: none;
    font-size: 40px;
    
}
.telefon,
.email
        {
    height: 60px;
    margin-bottom:-20px;
   
}

.layer2 {
    top: 10px;
    right: 10px;
    background-color: rgb(249, 245, 245);
    
    font-size: 10px;
    border-bottom-style: solid;
    border: 12px solid blue ;
    border-radius: 20px;
        padding-bottom: 600px;
    padding-right: ;
    height: 200px;
    width: 450px;
    z-index: 2;
    position:absolute;
    margin-right: -35px;
    margin-top: 77px;
    margin-right: 400;
    }

.foto {
    height: 800px;
    width: px;
    margin-top: 99px;
    margin-left: 165px;
    z-index:3;
    margin-bottom: px;
    position:absolute;
}
.content-wrapper1 {
    display: grid;
    grid-template-columns: 800px 1fr;

}

.layer1 {
    top: 10px;
    right: 10px;
    background-color: rgb(179, 247, 234);
    
    font-size: 10px;
    border-bottom-style: solid;
    border: 8px solid rgb(198, 244, 235) ;
    border-radius: 15px;
        padding-bottom: 600px;
    padding-right: ;
    height: 400px;
    width: 600px;
    z-index: 1;
    scroll-margin-bottom: 500px;
    position:relative;
    margin-left: 500px;
}

.tehnolodjy-information-All {
    padding-top: 80px;
    padding-left: 300px;
    padding-right: 300px;
    background-color:rgb(125, 64, 247);
    padding-bottom: 150px;
    font-family: Roboto, Arial;
    border-bottom-color:   rgb(42, 168, 137);
    border-bottom-style: solid;
    border-bottom-width: 4px ;

}

.tehnolodjy1 {
    
    background-color:  rgb(179, 247, 234);
    
    font-size: 10px;
    border-bottom-style: solid;
    border: 8px solid rgb(198, 244, 235) ;
    border-radius: 15px;
    height: 800px;
    width: 500px;
    margin-right: 50px;
    padding-top: 50px;
    padding-left: 40px;

}
.tehnolodjy2 {
    background-color: rgb(236, 225, 75);
    
    font-size: 10px;
    border-bottom-style: solid;
    border: 8px solid rgb(236, 225, 75); ;
    border-radius: 15px;
    height: 800px;
    width: 500px;
    margin-left: 80px;
    padding-top: 50px;
    padding-left: 40px;
    
}
.work1 {
    background-color: rgb(230, 110, 206);
    
    font-size: 10px;
    border-bottom-style: solid;
    border: 8px solid rgb(230, 110, 206);
    border-radius: 15px;
    height: 800px;
    width: 500px;
    margin-left: 140px;
    padding-top: 50px;
    padding-left: 40px;

}
.grid-h3 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    

}

.grid-p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  

}

.tehnolodjy-information {
    color: white;
    font-size: 70px;
}
.work {
    color: rgb(181, 179, 179);
    font-size: 50px; 
    line-height: 1.5em;
    margin-top: 80px;
}
.git {
    border-radius: 30px;
    margin-top:80px;
    margin-left: 110px;
}

.skills-body {
    padding-top: 80px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: rgb(242, 240, 236);
    padding-bottom: 150px;
    font-family: Roboto, Arial;
    border-bottom-color:   rgb(42, 168, 137);
    border-bottom-style: solid;
    border-bottom-width: 4px ;

}
.skills-main {
    color: rgb(110, 15, 253);
    font-size: 70px;
}
li {
    
}

.btn:hover {
    background:  rgb(101, 101, 223);
 
 }
 .btn:active {
     background: rgb(34, 34, 211); ;
 }
 .btn {
    color: white;
    background:  rgb(65, 178, 184);
    font-size: 35px;
    padding: 50px 70px;
    display: block;
    width: 195px;
    text-align: center;
    margin-top: 90px;
 }
 .botom {
    display: grid;
    grid-template-columns: 1fr 1fr;

 }
 .education {
    color:  rgb(65, 178, 184);
    font-size: 70px;
 }
 .prof {
    font-size: 70px;
    line-height: 0.5em;
    color: rgb(92, 92, 92);
 }